#countLabel
{
    display: block;
    text-align: center;
    font-size: 50px;

}


#decreaseBtn
{
    display: block;
    text-align: center;
    font-size: 15px;

}


#resetBtn
{
    display: block;
    text-align: center;
    font-size: 15px;

}


#increaseBtn
{
    display: block;
    text-align: center;
    font-size: 15px;

}